body {
    padding-top: 7rem;
}

a#github {
    padding: 10px 50px 10px 10px;
    margin-bottom: 1rem;
    border-radius: 4px;
    float: right;
    color: #fff;
    background: url(https://pages-themes.github.io/slate/assets/images/blacktocat.png) #0090ff no-repeat 95% 50%;
}

.btn.input-time {
    width: 5rem;
}

.table th, .table td {
    vertical-align: middle;
}

.progress {
    margin-top: .1rem;
}

/* bootstrap-material-datetimepicker.min.cssに上書き */

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background-color: #2B3E50;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background-color: #4E5D6C;
}

.dtp .dtp-actual-meridien a.selected {
    background-color: #2B3E50;
}

.dtp-btn-cancel, .dtp-btn-ok {
    color: #fff;
    margin-left: .1rem;
    background-color: #4E5D6C;
    border-color: #4E5D6C;
}